p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.def {
  border: 2px solid #325481;
  background:#DAE4F2 5px center/3em no-repeat;
  background-image: url("images/magnifying_glass.png");
  background-position: 5px 5px;
}

.imp {
  border: 2px solid #C4B810; 
  background: #F7F7D0 5px center/3em no-repeat;
  background-image: url("images/important_exclamation.png");
  background-position: 5px 5px;
}

.note {
  border: 2px solid #1B0505; 
  background: #E0E0E0 5px center/3em no-repeat;
  background-image: url("images/bell_note.png");
  background-position: 5px 5px;
}

.warning {
  border: 2px solid #E81B1B;  
  background: #FDAEAE 5px center/3em no-repeat;
  background-image: url("images/warning.png");
  background-position: 5px 5px;
}

section.normal h1  {
  color: #356185; 
}

section.normal h2  {
  color: #356185; 
}

section.normal h3  {
  color: #356185; 
}

section.normal h4  {
  color: #356185; 
}

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

.level1 h1 {
  border-bottom: 2.5px solid;
}

}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

/*Adapted from: https://www.econometrics-with-r.org/15-eodce.html*/
/*Thank you ChatGPT*/

.book-header.fixed a:link { color: #356185 !important; }
.book-header.fixed a:visited { color: #356185 !important; }
.book-header.fixed a:hover { color: #356185 !important; }
.book-header.fixed a:active { color: #356185 !important; }

.page-wrapper a:link { color: #356185 !important; }
.page-wrapper a:visited { color:#356185 !important; }
.page-wrapper a:hover { color: #356185 !important; }
.page-wrapper a:active { color: #356185 !important; }

.dropdown-menu .buttons .button {
    color: #356185;
}

.book .book-summary {
    position: absolute;
    top: 0;
    left: -265px; 
    bottom: 0;
    z-index: 1;
    width: 265px; 
    color: #356185;
    background: #F5F5F5; 
    border-right: 1px solid rgba(0,0,0,.10);
}

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
    margin: 5px;
    display: block;
    padding: 10px 20px;
    color:  #356185; 
    background: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-weight: 500; 
}

.book .book-summary ul.summary li.active > a {
    padding-left: 5px;
    border-radius: 8px;
    color: #FFFFFF; 
    font-weight: bold;
    background: #356185; 
    text-decoration: none;
}

.book .book-summary ul.summary li a:hover {
    padding-left: 5px;
    border-radius: 8px;
    font-weight: bold;
    color: #FFFFFF; 
    background:  #356185; 
    text-decoration: none;
}

p.flushright {
  text-align: right;
}
